<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Vue匿名插槽</title>
</head>
<body>
   <div id="app">
      <my-slot>
         <img src="/images/base64/icon-search.png" width="100"/>
         <p>我是搜索按钮</p>
         <input type="date"/>
      </my-slot>
   </div>

   <template id="my-slot">
      <div id="panel">
         <h2>我是插槽的头部</h2>
         <slot>可以替换任何标签，默认显示提示的内容</slot>
         <h2>我是插槽尾部</h2>
      </div>
   </template>
   <script src="/scripts/assets/vue.min.js"></script>
   <script>

      Vue.component('my-slot', {
         template: '#my-slot'
      })
      new Vue({
         el: '#app'
      })
   </script>
</body>
</html>