<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>v-else/v-else-if</title>
</head>
<body>
   <div id="app">
      <!--v-else必须与v-if或者v-else-if配套使用，不能单独使用，并且要挨着使用，中间不能穿插其他内容，否则报错-->
      <!--v-if/v-else只涉及到2中情况；v-if/v-else-if/v-else涉及到多种情况的判断-->
      <p v-if="height > 1.7">身高：{{height}}m</p>
      <p v-else>身高不足1.7m</p>
      <p>=====================================</p>
      <p>您输入的成绩对应的等级是：</p>
      <p v-if="score >= 90">优秀</p>
      <p v-else-if="score >= 75">良好</p>
      <p v-else-if="score >= 60">及格</p>
      <p v-else>不及格</p>
      <input type="text" v-model="score"/>
   </div>
   <script src="/scripts/assets/vue.min.js"></script>
   <script>
      let vm = new Vue({
         el:'#app',
         data: {
            height: 1.68,
            score: 90
         }
      })
   </script>
</body>
</html>