<% layout('/partials/layout.ejs') -%>
<% block('page_title', 'router') -%>
<% block('page_css', '/styles/pages/router.css') -%>
<% block('page_js', '/scripts/pages/router.js') -%>
<div id="app"></div>