<% layout('/partials/layout.ejs') -%>
<% block('page_title', 'search') -%>
<% block('page_css', '/styles/pages/search.css') -%>
<% block('page_js', '/scripts/pages/search.js') -%>

<div id="search-wrapper">
   <App></App>
</div>